{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <div class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="showPasswordRules"
      name="showPasswordRules"
      />
    <label class="form-check-label" for="showPasswordRules">
      Include broken authentication vulnerability
    </label>
  </div>
  <div class="password-rules" id="passwordRules" style="display: none;">
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
